/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: #000;
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #7f1d1d;
  border-radius: 20px;
  border: none;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  display: inline-block;
  padding: 15px 25px;
  margin: 20px 0;
  color: #e5e7eb;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  letter-spacing: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #7f1d1d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
.btn:hover {
  box-shadow: 0px 0px 0px 2px #ef4444;
}
.btn:first-child:hover {
  box-shadow: 0 0 5px #f87171, 0 0 10px #ef4444, 0 0 20px #b91c1c;
}
.btn:active {
  transform: scale(0.99);
}
@media only screen and (max-width: 640px) {
  .btn {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 10px 20px;
  }
}

.gradient {
  transition: 2s;
  background-size: 200% auto;
  background-image: linear-gradient(80deg, #ef4444 0%, #ef4444 25%, #dc2626 50%, #ef4444 75%, #facc15 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  touch-action: manipulation;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.title {
  padding-bottom: 40px;
}
.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 10px;
}
.title h1::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #f3f4f6;
  display: block;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .title h1::after {
    width: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .title h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
}

.social-icons {
  display: flex;
  gap: 20px;
  padding-top: 40px;
}
.social-icons img {
  background-color: #000;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #222;
  transition: ease 0.1s;
}
.social-icons img:hover {
  border: 2px solid #dc2626;
}
@media only screen and (max-width: 640px) {
  .social-icons {
    gap: 10px;
  }
}

.header-bg {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: #000;
  border-bottom: 2px solid #222;
  color: #f3f4f6;
}

.nav {
  width: max-content;
}

.nav-center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .nav-center {
    grid-template-columns: 1fr;
  }
}

.nav-header {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.nav-header .nav-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-header .nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
.nav-header .nav-toggle img {
  height: 40px;
  padding: 5px;
}

.nav-open {
  height: max-content;
}

.links {
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media only screen and (max-width: 768px) {
  .links {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.links li {
  width: 100%;
  text-align: start;
}
.links li a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

.home-bg {
  height: 100vh;
  background-image: url("../../assets/svg/logoAP-bkg.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-position: right 20% top 60%;
}
@media only screen and (max-width: 1024px) {
  .home-bg {
    background-size: 700px;
    -webkit-background-size: 700px;
    -moz-background-size: 700px;
    -o-background-size: 700px;
    background-position: right 40% top 60%;
  }
}

.home {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
}
.home-text span {
  color: #ef4444;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}
.home-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}
.home-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 300;
  color: #f9fafb;
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .home-text span {
    color: #ef4444;
    font-family: "Poppins", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .home-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
  }
  .home-text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .home-text span {
    color: #ef4444;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .home-text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
  }
  .home-text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    padding-top: 10px;
  }
}

.home-button {
  display: flex;
  gap: 40px;
  padding: 40px 0;
}

.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  padding: 100px 20px;
}

.about-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
  background-color: #111;
  border: 2px solid #222;
  border-radius: 5px;
  padding: 40px;
}
@media only screen and (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}

.about-img {
  background-image: url("../../assets/img/profile.png");
  height: 100%;
  width: 300px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .about-img {
    display: none;
  }
}

.about-description h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 10px;
}
.about-description h1::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #f3f4f6;
  display: block;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .about-description h1::after {
    width: 60px;
  }
}
.about-description p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: #f3f4f6;
  padding-bottom: 40px;
}
.about-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #f3f4f6;
  font-weight: 300;
  max-width: 90%;
}
.about-description p span {
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  .about-description h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 768px) {
  .about-description h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .about-description p:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    color: #f3f4f6;
  }
  .about-description p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #f3f4f6;
    font-weight: 300;
    max-width: 100%;
  }
  .about-description p span {
    font-weight: 700;
  }
}

.skills-bg {
  background-color: #111;
  padding: 80px 0;
}

.skills {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.skills-language {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.skills-language img {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #222;
  transition: ease 0.1s;
}
.skills-language img:hover {
  border: 2px solid #dc2626;
}
@media only screen and (max-width: 768px) {
  .skills-language {
    gap: 20px;
  }
  .skills-language img {
    background-color: #000;
    padding: 15px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #222;
  }
}

.skills-itens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .skills-itens {
    grid-template-columns: 1fr;
  }
}

.skill-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #222;
  padding: 20px;
  transition: ease 0.1s;
}
.skill-content:hover {
  border: 2px solid #dc2626;
}

.skill-desc h1 {
  color: #f9fafb;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.skill-desc p {
  color: #f3f4f6;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.projects {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media only screen and (max-width: 1024px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.project {
  display: grid;
  gap: 40px;
  padding: 40px 20px;
  background-color: #111;
  border: 2px solid #222;
  border-radius: 5px;
}
@media only screen and (max-width: 640px) {
  .project {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.project-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-img img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}
.project-img img:hover {
  scale: 1.05;
}

.project-content {
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.project-skills {
  display: flex;
  gap: 20px;
  height: 25px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .project-skills {
    height: 20px;
  }
}

.project-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
  height: 120px;
  padding-right: 10px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: none;
}
.project-desc::-webkit-scrollbar {
  width: 5px;
}
.project-desc::-webkit-scrollbar-track {
  background: none;
}
.project-desc::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  border: none;
}
@media only screen and (max-width: 640px) {
  .project-desc {
    height: 150px;
  }
}

.project-btns {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.project-btns a {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  display: inline-block;
  padding: 5px 15px;
  color: #d1d5db;
  transition: ease-in-out 0.3s;
  letter-spacing: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #7f1d1d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
.project-btns a:hover {
  box-shadow: 0px 0px 0px 2px #ef4444;
  color: #f9fafb;
}
.project-btns a:active {
  transform: scale(0.99);
}
@media only screen and (max-width: 640px) {
  .project-btns a {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 10px 20px;
  }
}

.more-projects {
  width: max-content;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #f9fafb;
}
.more-projects span {
  color: #ef4444;
}

.footer-bg {
  background-color: #111;
  color: #f9fafb;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
  padding: 40px 0 20px;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-contact {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .footer-contact {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.footer-itens {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-itens h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #dc2626;
  font-weight: 700;
}
.footer-itens .contacts a {
  display: flex;
  align-items: center;
  width: max-content;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #f9fafb;
}
.footer-itens .contacts a img {
  height: 15px;
  padding-right: 10px;
}

.social .social-icons {
  padding-top: 10px;
}
.social .social-icons img {
  height: 20px;
  padding: 10px;
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-me div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contact-me h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #f9fafb;
  font-weight: 700;
}
.contact-me a {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  display: inline-block;
  padding: 10px 20px;
  color: #d1d5db;
  transition: ease-in-out 0.3s;
  letter-spacing: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #7f1d1d;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
.contact-me a:hover {
  box-shadow: 0px 0px 0px 2px #ef4444;
  color: #f9fafb;
}
.contact-me a:active {
  transform: scale(0.99);
}
@media only screen and (max-width: 640px) {
  .contact-me a {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-me {
    padding: 40px 0;
  }
}

.footer-desc {
  color: #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}
.footer-desc img {
  height: 20px;
}
@media only screen and (max-width: 768px) {
  .footer-desc {
    font-family: "Poppins", sans-serif;
    font-size: 0.6rem;
    line-height: 1rem;
    gap: 20px;
  }
  .footer-desc .footer-logo img {
    height: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
