*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background-color: $color1-900;
  border-radius: 20px;
  border: none;
}

.btn{
  @include font(lg);
  @include font-weight(r);
  display: inline-block;
  padding: 15px 25px;
  margin: 20px 0;
  color: $gray200;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  letter-spacing: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px $color1-900;
  border-radius:5px;
  background-color: #0008;
  &:hover{
  box-shadow: 0px 0px 0px 2px $color1-500;
  }
  &:first-child:hover{
    box-shadow: 0 0 5px $color1-400, 0 0 10px $color1-500, 0 0 20px $color1-700;
  }

  &:active{
    transform: scale(.99);
  }
  @include media(sm){
     @include font(xs);
     padding: 10px 20px;
  }
}


.gradient {
  transition: 2s;
  background-size: 200% auto;
  background-image: linear-gradient(
    80deg,
    $color1-500 0%,
    $color1-500 25%,
    $color1-600 50%,
    $color1-500 75%,
    $color2-400 100%,

  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  touch-action: manipulation;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gradient:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.title{
  padding-bottom: 40px;
  h1{
    @include font(5xl);
    @include font-weight(b);    
    padding-bottom: 10px;
    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: $gray100;
      display: block;
      margin-top: 10px;
      @include media(md){
        width: 60px;
      }
    }
  }
  @include media(md){
    h1{
      @include font(3xl);
      @include font-weight(b); 
     
    }
  }
}

.social-icons{
  display: flex;
  gap: 20px;
  padding-top: 40px;
  img{
    background-color: $bg100;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid $bg300;
    transition: ease .1s;
    &:hover{
      border: 2px solid $color1-600;
    }

  }
  @include media(sm){
    gap: 10px;
  }
  // @include media(md){
  //   justify-content: center;
  // }
}