.footer-bg{
  background-color: $bg200;
  color: $gray50;
  @include font(base);
  @include font-weight(r);
  padding: 40px 0 20px;
}

.footer{
  @include container(xl);
}

.footer-contact{
  @include container(xl);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  @include media(md){
    grid-template-columns: 1fr;
    gap: 20px;
  }

}

.footer-itens{
display: flex;
flex-direction: column;
gap: 40px;
  h2{
    @include font(xl);
    color: $color1-600;
    @include font-weight(b);
  }
  .contacts{
    a{
      display: flex;
      align-items: center;
      width: max-content;
      @include font(base);
      color: $gray50;
      @include font-weight(s);
      img{
        height: 15px;
        padding-right: 10px;
      }
    }
  }

}

.social{
  .social-icons{
    padding-top: 10px;
    img{
      height: 20px;
      padding: 10px;
    }
  }
}

.contact-me{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  h2{
    @include font(xl);
    color: $gray50;
    @include font-weight(b);
  }
  a{
    @include font(sm);
    @include font-weight(r);
    display: inline-block;
    padding: 10px 20px;
    color: $gray300;
    transition: ease-in-out 0.3s;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px $color1-900;
    border-radius:5px;
    background-color: #0008;
    &:hover{
    box-shadow: 0px 0px 0px 2px $color1-500;
    color: $gray50;
    }  
    &:active{
      transform: scale(.99);
    }
    @include media(sm){
       @include font(xs);
       padding: 10px 20px;
    }
  }
  @include media(md){
  padding: 40px 0;
 }
}

.footer-desc{
  color: $gray300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
  img{
    height: 20px;
  }
  @include media(md){
    @include font(xxs);
    gap: 20px;
    .footer-logo{
      img{
        height: 15px;
      }
    }
  }
}