.header-bg{
position: fixed;
z-index: 100;
width: 100vw;
background-color: $bg100;
border-bottom: 2px solid $bg300;
color: $gray100;
}
.nav{
 width: max-content;
}
.nav-center{
  @include container(xl);
  overflow: hidden;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  @include media(md){
    grid-template-columns: 1fr;
   }
}

.nav-header{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  .nav-toggle{
    display: none;
    @include media(md){
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    img{
      height: 40px;
      padding: 5px;
    }
  }
}

.nav-open{
  height: max-content;

}


.links{
  display: flex;
  gap: 40px;
  @include font(xl);
  @include media(md){
   flex-direction: column;
   padding-top: 40px;
  padding-bottom: 40px;
  }
  li{
  width: 100%;
  text-align: start;
  a{
    display: inline-block;
    width:100%;
    padding: 15px 0;
  }
}
}