.projects{
  @include container(xl);
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  @include media(lg){
    grid-template-columns: 1fr 1fr;
  }
  @include media(sm){
    grid-template-columns: 1fr;
  }
}

.project{
  display: grid;

  gap: 40px;
  padding: 40px 20px;
  background-color: $bg200;
  border: 2px solid $bg300;
  border-radius: 5px;
  @include media(sm){
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.project-img{
  display: flex;
  align-items: center;
  justify-content: center;


  img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: all .5s;
    &:hover{
      scale: 1.05;
    }
    @include media(sm){
       
      width: max-content;

    }
  }
}

.project-content{
  color: $gray100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
  h2{
    @include font(2xl);
    @include font-weight(b);
    padding-bottom: 10px;
  }
}
.project-skills{
  display: flex;
  gap: 20px;
  height: 25px;
  padding-bottom: 20px;
  @include media(md){
    height: 20px;
  }
}

.project-desc{
  @include font(base);
  @include font-weight(r);
  height: 120px;
  padding-right: 10px;

  // overflow: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color:  none;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bg300;
    border-radius: 20px;
    border: none;
  }
  @include media(sm){
    height: 150px;
  }
}

.project-btns{
  display: flex;
  gap: 20px;
  padding-top: 20px;
  a{
    @include font(sm);
    @include font-weight(r);
    display: inline-block;
    padding: 5px 15px;
    color: $gray300;
    transition: ease-in-out 0.3s;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px $color1-900;
    border-radius:5px;
    background-color: #0008;
    &:hover{
    box-shadow: 0px 0px 0px 2px $color1-500;
    color: $gray50;
    }  
    &:active{
      transform: scale(.99);
    }
    @include media(sm){
       @include font(xs);
       padding: 10px 20px;
    }
  }

}

.more-projects{
  width: max-content;
  padding-top: 40px;
  @include font(base);
  color: $gray50;
  span{
    color: $color1-500;
  }
}