.skills-bg{
  background-color: $bg200;
  padding: 40px 0;
}

.skills{
  @include container(xl);
;

}

.title{
  padding-bottom: 40px;
  h1{
    @include type-1(3xl);
    @include font-weight(b);    
    padding-bottom: 10px;
    &::after {
      content: '';
      width: 100px;
      height: 2px;
      background-color: $gray100;
      display: block;
      margin-top: 10px;
      @include media(md){
        width: 60px;
      }
    }
  }
  }
  @include media(md){
    h1{
      @include type-1(2xl);
      @include font-weight(b);
     
    }
}

.skills-language{
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  img{
    background-color: $bg100;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid $bg300;
    transition: ease .1s;
    &:hover{
      border: 2px solid $color1-600;
    }
  }
  @include media(md){
    gap: 20px;
    img{
      background-color: $bg100;
      padding: 15px;
      height: 25px;
      border-radius: 5px;
      border: 2px solid $bg300;
    }
  }
}

.skills-itens{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @include media(md){
    grid-template-columns: 1fr;

  }
}

.skill-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: $bg100;
  border-radius: 5px;
  border: 2px solid $bg300;
  padding: 20px;
  transition: ease .1s;
  &:hover{
    border: 2px solid $color1-600;
  }
}

.skill-desc{
  // text-align: center;
  h1{
    color: $gray50;
    @include type-1(1xl);
    @include font-weight(r);    
    padding-bottom: 20px;
    }
    p{
      color: $gray100;
      @include type-1(base);
      @include font-weight(l);    
      padding-bottom: 5px;
    }
}
